/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700");
@import url("/fonts/Handel_Gothic_D_Regular.ttf");

@font-face {
  font-family: "HandelGothicD";
  font-display: swap;
  src: url("/fonts/Handel_Gothic_D_Regular.ttf"),
    url("/fonts/Handel_Gothic_D_Regular.woff"),
    url("/fonts/Handel_Gothic_D_Regular.woff2");
}

/* Global properties ======================================================== */
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: #e4cd7f !important;
  color: #fff;
}

::-moz-selection {
  background: #e4cd7f !important;
  color: #fff;
}

a {
  color: #e4cd7f;
  text-decoration: underline;
  outline: none;
}

a:hover {
  color: #e4cd7f;
  text-decoration: none;
  outline: none;
}

body {
  background: url(../images/bg1_1.jpg) center center no-repeat #1a1a1a;
  background-attachment: fixed;
  background-size: cover;
  border: 0;
  font: 16px "Bitter", Arial, Helvetica, sans-serif;
  color: #dbdbdb;
  line-height: 1.5;
  min-width: 320px;
}

.container {
  position: relative;
  min-width: 320px;
}

#main {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Page Animated item Styles */
.animated {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* Modal ======================================================== */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
}

.icons {
  width: 8vw;
  min-width: 100px;
  margin: auto;
  margin-top: 20px;
  display: block;
}

.text-delivery {
  font-size: 25px;
  padding-bottom: 30px;
  line-height: 1.1;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  font-size: 30px;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 30px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption,
#gallery {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.closeMenu,
.closeGallery,
.closeDelivery {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeMenu:hover,
.closeMenu:focus,
.closeGallery:hover,
.closeGallery:focus,
.closeDelivery:hover,
.closeDelivery:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 767px) {
  .modal-content {
    width: 100%;
  }
}

a {
  color: #e4cd7f;
  text-decoration: underline;
  outline: none;
}

a:hover {
  color: #e4cd7f;
  text-decoration: none;
  outline: none;
}

body {
  background: url(../images/bg1_1.jpg) center center no-repeat #1a1a1a;
  background-attachment: fixed;
  background-size: cover;
  border: 0;
  font: 16px "Bitter", Arial, Helvetica, sans-serif;
  color: #dbdbdb;
  line-height: 1.5;
  min-width: 320px;
}

.container {
  position: relative;
  min-width: 320px;
}

.containerContact {
  position: relative;
  min-width: 320px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 80px;
}

#main {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Page Animated item Styles */

/* ============================= header ====================== */
#top0 {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  filter: brightness(2);
}

#top00 {
  position: relative;
}

#top00 img {
  width: 100%;
  height: auto;
}

header {
  position: relative;
  text-align: center;
  line-height: 0;
}

header a {
  display: inline-block;
}

header img {
  margin-left: auto;
  margin-right: auto;
}

.social_wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
}

.social {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social li {
  display: inline-block;
  margin: 3px;
  transform: 0.3s ease;
}

.social li a {
  display: block;
  text-decoration: none;
  width: 34px;
  height: 34px;
  font-size: 18px;
  color: #a4a4a7;
  text-align: center;
  line-height: 32px;
  border: 1px solid #a4a4a7;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.social li a:hover {
  color: #fff;
  border-color: #fff;
  transform: scale(1.2);
}

.bot2_wrapper {
  display: flex;
}

#top1 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; /*z-index: 99;*/
  min-width: 320px;
}

#top2-sticky-wrapper {
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.sticky-wrapper.is-sticky .navbar-nav a {
  color: #fff !important;
}

#top2 {
  position: relative;
  z-index: 100;
}

.top2_wrapper {
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.is-sticky .top2_wrapper {
  background: url(../images/bg1_1.jpg) center center no-repeat #1a1a1a;
  background-size: cover;
  box-shadow: 0 1px #424242;
  moz-box-shadow: 0 1px #424242;
  -webkit-box-shadow: 0 1px #424242;
}

.top2 {
  position: relative;
}

/* ============================= content ====================== */

#content {
  position: relative;
  padding-top: 0px;
  padding-bottom: 130px;
}

#header_wrapper {
  position: relative;
  margin-bottom: -30px;
}

#home {
  position: relative;
}

#pizza {
  position: relative;
  padding-bottom: 170px;
}

.pizza1_wrapper {
  position: relative;
}

.pizza1 {
  position: absolute;
  top: -120px;
  display: block;
  height: auto;
}

.pizza1_wrapper {
  position: relative;
}

/* ============================= online ====================== */
#online .carousel-box {
  position: relative;
}

#online .carousel-box .inner {
  position: relative;
  overflow: hidden;
  max-width: none;
  margin: 0;
}

#online .carousel-box ul li {
  float: left;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  position: relative;
  width: 300px;
  overflow: hidden;
  padding-right: 30px;
}

#online .carousel.main {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-right: -30px;
}

#online .caroufredsel_wrapper {
  padding: 0;
  margin: 0;
}

#online .caroufredsel_wrapper ul {
  padding: 0;
  margin: 0;
}

/* ============================= online end ====================== */

/* ============================= gallery ====================== */
#gallery_inner {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery_prev {
  vertical-align: top;
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url(../images/prev3.png) left top no-repeat;
}

.gallery_prev:hover {
  background-position: bottom;
}

.gallery_next {
  vertical-align: top;
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url(../images/next3.png) left top no-repeat;
}

.gallery_next:hover {
  background-position: bottom;
}

#gallery {
  position: relative;
  padding-bottom: 50px;
  font-family: "HandelGothicD";
}

.gallery-title {
  font-family: "HandelGothicD";
  font-size: 36px;
  line-height: 1.1;
}

#gallery_inner .carousel-box {
  position: relative;
}

#gallery_inner .carousel-box .inner {
  position: relative;
  overflow: hidden;
  max-width: none;
  margin: 0;
}

.gallery_controls {
  text-align: center;
  padding-top: 10px;
}

.gallery_pagination {
  display: inline-block;
  line-height: 23px;
  vertical-align: top;
}

.gallery_pagination a {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 13px;
  position: relative;
}

.gallery_pagination a:before {
  position: absolute;
  content: "";
  display: block;
  width: 26px;
  height: 1px;
  background: #848484;
  right: 100%;
  top: 50%;
}

.gallery_pagination a:first-child:before {
  display: none;
}

.gallery_pagination a span {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  text-indent: -9999%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: url(../images/pag1.png) left top no-repeat;
}

.gallery_pagination a:hover span,
.gallery_pagination a.selected span {
  background: url(../images/pag2.png) left top no-repeat;
}

#gallery_inner .carousel.main {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-right: -30px;
}

#gallery_inner .caroufredsel_wrapper {
  padding: 0;
  margin: 0;
}

#gallery_inner .caroufredsel_wrapper ul {
  padding: 0;
  margin: 0;
}

#gallery_inner .carousel-box ul li {
  float: left;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  position: relative;
  width: 300px;
  overflow: hidden;
  padding-right: 30px;
}

/* ============================= gallery end ====================== */

#contacts {
  position: relative;
  padding-bottom: 140px;
}

.g_map_wrapper {
  position: relative;
  margin: auto;
}

.map_flour {
  position: absolute;
  left: -100px;
  top: -80px;
  z-index: -1;
}

.map_herb {
  position: absolute;
  right: -70px;
  top: 20px;
  z-index: -1;
}

#google_map {
  position: absolute !important;
  left: 42px;
  top: 64px;
  right: 46px;
  bottom: 112px;
  width: 100%;
  height: 558px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* ============================= footer ====================== */
.bot1_wrapper {
  background: url(../images/bg2.jpg) center center no-repeat #ebebeb;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  color: #303031;
  display: flex;
}

.logo2_wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  flex: 1;
}

.logo2_wrapper a {
  display: inline-block;
}

.logo2_wrapper img {
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  padding-top: 10px;
  align-self: center;
}

.social2_wrapper {
  align-self: center;
}

.social2 {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social2 li {
  display: inline-block;
  margin: 3px;
  transition: transform 0.3s ease;
}

.social2 li a {
  display: block;
  text-decoration: none;
  width: 34px;
  height: 34px;
  font-size: 18px;
  color: #a4a4a7;
  text-align: center;
  line-height: 32px;
  border: 1px solid #a4a4a7;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.social2 li a:hover {
  color: #3b3b3d;
  border-color: #3b3b3d;
  transform: scale(1.2);
}

/* ============================= newparallax ====================== */
.newparallax {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
}

.bree {
  top: 100px;
  left: 50%;
  margin-left: -850px;
}

/* ============================= main menu ====================== */
.navbar_ {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  position: relative;
  z-index: 100;
  min-height: 0;
  float: none;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  line-height: 0;
}
/* ovo? */
.navbar_ .navbar-toggle {
  background: #d0a100;
  border: none;
  box-shadow: none;
  moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 0px;
}

.navbar_ .navbar-toggle:hover,
.navbar_ .navbar-toggle:focus {
  background: #ffc600;
}

.navbar_ .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-collapse_ {
  padding-left: 0;
  padding-right: 0;
  border: none;

  background-image: linear-gradient(rgb(0 0 0 / 60%), transparent);
}

.navbar_ .nav {
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  padding-right: 13%;
}

.navbar_ .nav > li {
  position: relative;
  display: block;
  float: left;
  white-space: nowrap;
  background: none;
  margin-left: 76px;
}

.navbar_ .nav > li:before {
  content: "";
  display: block;
  width: 19px;
  height: 13px;
  background: url(../images/marker1.png) left center no-repeat;
  position: absolute;
  left: -48px;
  top: 50%;
  margin-top: -4px;
  font-family: "Ubuntu";
}

.navbar_ .nav > li:first-child {
  margin-left: 0;
}

.navbar_ .nav > li:first-child:before {
  display: none;
}

.navbar_ .nav > li > a {
  display: block;
  text-decoration: none;
  background: none;
  font-family: HandelGothicD;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 30px;
  color: #fff;
  text-shadow: none;
  padding: 15px 0px;
  border: none;
  margin: 0;
  text-align: left;
  position: relative;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  text-shadow: 1px 1px #000;
  letter-spacing: 2px;
}

.navbar_ .nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  box-shadow: none;
  moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: none;
}

.navbar_ .nav > li > a:hover,
.navbar_ .nav > li.sfHover > a,
.navbar_ .nav > li.sfHover > a:hover {
  color: #ffc600;
  text-decoration: none;
  box-shadow: none;
  moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: none;
}

.navbar_ .nav > li.active > a,
.navbar_ .nav > li.active > a:hover,
.navbar_ .nav > li.active > a:focus {
  color: #ffc600;
  text-decoration: none;
  box-shadow: none;
  moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: none;
}

/* ============================= main layout ====================== */
/* nema */
.title1 {
  font-family: "HandelGothicD";
  font-size: 28px;
  line-height: 1.1;
  font-weight: 400;
  color: #ff7b23;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  font-style: italic;
}

.title2 {
  font-family: "HandelGothicD";
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
  color: #fff;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 25px;
}
/* nema */
.title3 {
  font-family: "HandelGothicD";
  font-size: 64px;
  line-height: 1.1;
  font-weight: 400;
  color: #fff;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 25px;
}
/* nema */
.title4 {
  font-family: "HandelGothicD";
  font-size: 28px;
  line-height: 1.1;
  font-weight: 400;
  color: #ff7b23;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 20px;
  font-style: italic;
}
/* nema */
.title5 {
  font-family: "Lobster";
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
  color: #f5bf04;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 25px;
}
/* nema */
.title6 {
  font-family: "Playfair Display";
  font-size: 28px;
  line-height: 1.1;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 15px;
  font-style: italic;
}
/* nema */
.title7 {
  font-family: "Playfair Display";
  font-size: 64px;
  line-height: 1.1;
  font-weight: 400;
  color: #ff7b23;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 25px;
}

/* nema */
h1 {
  display: block;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 44px;
  color: #fff;
  line-height: 1.1;
  padding: 10px 0 0px 0;
  margin: 0 0 20px;
  background: url(../images/h1.png) center top no-repeat;
  min-height: 104px;
  text-align: center;
}

h2 {
  display: block;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 1.1;
  padding: 0px 0 33px 0;
  margin: 70px 0 40px;
  text-align: center;
  background: url(../images/h2.png) center bottom no-repeat;
}

/* nema */
.img-responsive-old {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive {
  width: auto \9;
}

/* nema */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.white {
  color: #fff;
}

/* nema */
.ul2 {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ul2 li {
  padding-bottom: 7px;
}

.ul2 li a {
  display: block;
  padding-left: 30px;
  background: url(../images/li_st1.png) 0 5px no-repeat;
  text-decoration: none;
  color: #303031;
  font-family: "Bitter";
  font-style: italic;
  font-size: 16px;
  text-decoration: underline;
}

.ul2 li a:hover {
  text-decoration: none;
  color: #b85e46;
}

/*-----btn-----*/
.btn-default.btn1 {
  font-family: "Bitter";
  display: inline-block;
  width: 195px;
  height: 60px;
  color: #ffc600;
  border: none;
  font-size: 16px;
  line-height: 47px;
  font-weight: 400;
  padding: 4px 0 0 4px;
  text-decoration: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: url(../images/btn1.png) 0 0 no-repeat;
  position: relative;
  text-align: left;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.btn-default.btn1 span {
  text-align: center;
  display: inline-block;
  width: 182px;
  height: 47px;
  background: url(../images/btn1_hover.png) -325px center no-repeat;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.btn-default.btn1:hover {
  color: #fff;
}

.btn-default.btn1:hover span {
  background-position: -120px center;
}

.btn-default.btn2 {
  font-family: "Bitter";
  display: inline-block;
  width: 285px;
  height: 60px;
  color: #ffc600;
  border: none;
  font-size: 16px;
  line-height: 49px;
  font-weight: 400;
  padding: 3px 0 0 3px;
  text-decoration: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  background: url(../images/btn2.png) 0 0 no-repeat;
  position: relative;
  text-align: left;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.btn-default.btn2 span {
  text-align: right;
  display: inline-block;
  width: 274px;
  height: 49px;
  background: url(../images/btn2_hover.png) -190px center no-repeat;
  padding-right: 30px;
  padding-left: 30px;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.btn-default.btn2 span em {
  float: left;
  font-style: normal;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.btn-default.btn2:hover {
  color: #fff;
}

.btn-default.btn2:hover span {
  background-position: -30px center;
}

/* ============================= thumbnail ====================== */
.btn-default.btn3 {
  font-family: "Bitter";
  display: inline-block;
  width: 85px;
  height: 60px;
  color: #ffc600;
  border: none;
  font-size: 16px;
  line-height: 49px;
  font-weight: 400;
  padding: 3px 0 0 3px;
  text-decoration: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  background: url(../images/btn3.png) 0 0 no-repeat;
  position: relative;
  text-align: left;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.btn-default.btn3 em {
  margin-left: 22px;
  font-style: normal;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.btn-default.btn3:hover span {
  background-position: -30px center;
}

.btn-default.btn3:hover {
  display: inline-block;

  background: url(../images/btn3_hover.png) 0 0 no-repeat;

  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.online .online_inner_btn {
  text-align: left;
  padding: 0 15%;
}

.margin {
  margin-top: 100px;
}

.thumb1 {
  margin-bottom: 30px;
  margin-top: 0px;
}

.thumb1.last {
  margin-bottom: 0px;
}

.thumb1 .thumbnail {
  padding: 0;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: none;
  moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 0;
  background: none;
}

.thumb1 a {
  display: block;
  text-decoration: none;
}

.thumb1 a figure {
  margin: 0;
  float: none;
  margin: 0px 0px 0px 0px;
  background: #151515;
  position: relative;
  overflow: hidden;
}

.thumb1 a figure img {
  height: 100%;
  width: auto;
  position: relative;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.thumb1 a:hover figure img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.thumb1 a figure .zoom_left {
  display: block;
  width: 69px;
  height: 20px;
  background: url(../images/zoom_left.png) 0 0 no-repeat;
  position: absolute;
  left: 25%;
  margin-left: -120px;
  top: 50%;
  margin-top: -10px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.thumb1 a:hover figure .zoom_left {
  left: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.thumb1 a figure .zoom_text {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  font-family: "Bitter";
  font-style: italic;
  color: #fff;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}

.thumb1 a:hover figure .zoom_text {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.thumb1 a figure .zoom_right {
  display: block;
  width: 69px;
  height: 20px;
  background: url(../images/zoom_right.png) 0 0 no-repeat;
  position: absolute;
  right: 25%;
  margin-right: -120px;
  top: 50%;
  margin-top: -10px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.thumb1 a:hover figure .zoom_right {
  right: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
}

/*================= Contacts =========================*/
#note {
}

.notification_error {
  color: #f00;
  padding-bottom: 10px;
}

.notification_ok {
  text-align: left;
  padding-bottom: 10px;
}

#ajax-contact-form .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

#ajax-contact-form .form-group label {
  color: #b5b5b5;
  font-weight: 400;
  display: block;
  font-size: 14px;
}

#ajax-contact-form .form-control {
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #b5b5b5;
  background: none;
  border: 1px solid #8c8c8c;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ajax-contact-form .form-control:focus {
  border-color: #c1c1c1;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ajax-contact-form textarea.form-control {
  height: auto;
}

#ajax-contact-form .form-group.capthca {
  float: left;
  margin-right: 30px;
}

#ajax-contact-form .form-group.capthca input {
  width: 170px;
}

#ajax-contact-form .form-group.img {
  float: left;
}

#ajax-contact-form .form-group.img img {
  width: 170px;
  height: 38px;
}

.btn-default.btn-cf-submit {
  display: block;
  width: 195px;
  height: 60px;
  background: url(../images/btn1.png) 0 0 no-repeat;
  background-color: transparent !important;
  position: relative;
  color: #ffc600;
  font-family: "Bitter";
  font-size: 16px;
  font-weight: 400;
  padding: 4px 0 0 4px;
  text-decoration: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: left;
}

.btn-default.btn-cf-submit span {
  text-align: center;
  display: inline-block;
  width: 182px;
  height: 47px;
  background: url(../images/btn1_hover.png) -325px center no-repeat;
  line-height: 47px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.btn-default.btn-cf-submit:hover {
  color: #fff;
}

.btn-default.btn-cf-submit:hover span {
  background-position: -120px center;
}

.form-control {
  height: 56px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #b5b5b5;
  background: none;
  border: 1px solid #8c8c8c;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1330px) {
}

/* Default landscape and desktop to large desktop */
@media (max-width: 1329px) {
  #google_map {
    left: 33px;
    top: 33px;
    right: 36px;
    bottom: 86px;
  }

  .header_img {
    padding: 30px 32px 0;
  }

  #header_wrapper {
    margin-bottom: -20px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1329px) {
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {
  h1 {
    background-size: 700px auto;
    padding-top: 8px;
    font-size: 30px;
    min-height: 85px;
  }

  #google_map {
    left: 26px;
    top: 26px;
    right: 28px;
    bottom: 68px;
  }

  .footer_img {
    margin-left: 200px;
  }

  .newparallax {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar_ .nav > li > a {
    font-size: 18px;
  }

  .navbar_ .nav > li {
    margin-left: 50px;
  }

  .navbar_ .nav > li:before {
    left: -33px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .social_wrapper {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 15px;
    text-align: center;
  }

  .logo_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .bot2_wrapper {
    display: flex;
    flex-direction: column;
  }

  .icons {
    width: 70px;
  }

  .text-delivery {
    text-align: center;
  }

  .navbar_ .nav > li:before {
    display: none;
  }

  h1 {
    background: none;
    padding-top: 0px;
    font-size: 24px;
    min-height: 0;
  }

  .online .online_inner {
    padding: 0 0;
  }

  #google_map {
    position: relative;
    left: 3%;
    top: 3%;
    right: 3%;
    bottom: unset;
    width: auto;
  }

  .g_map_wrapper {
    margin-top: 50px;
    min-height: 500px;
  }

  .social2_wrapper {
  }

  .copyright {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header_img {
    padding: 3.5% 3.5% 0;
  }

  #header_wrapper {
    margin-bottom: 0;
  }

  .navbar_ {
    float: none;
    height: 60px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
  }

  .navbar-collapse_ {
    clear: both;
    margin-left: -13px;
    margin-right: -13px;

    background-image: linear-gradient(rgb(0 0 0 / 60%), transparent);
  }

  .navbar_ .nav {
    display: block;
    background: none;
    border-right: none;
    background: #000;
    border: none;
    padding: 0 0px;
  }

  .navbar_ .nav > li {
    float: none;
    background: none;
    border-left: none;
    margin-left: 0;
    border-top: 1px solid #4c4c4c;
    background: none;
  }

  .navbar_ .nav > li > a {
    border: none;
    font-size: 18px;
    padding: 2px 13px;
  }

  .navbar_ .nav > li > a:hover,
  .navbar_ .nav > li > a:focus,
  .navbar_ .nav > li.sfHover > a,
  .navbar_ .nav > li.sfHover > a:hover {
  }
}

.bootstrap-touchspin-up i {
  padding-top: 3px !important;
}

.marginer {
  padding-bottom: 50px;
}

@media (min-width: 481px) and (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
